<%- include("header"); -%>
<main class="page landing-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Thêm training</h2>
      </div>

      <form method="POST" action="/trainings/add">
        <div class="form-group"><label for="name">Training name</label><input class="form-control item" type="text" id="name"
            name="name"></div>
        <div class="form-group"><label for="mentor">Mentor</label><input class="form-control item" type="text" id="mentor"
            name="mentor"></div>
        <div class="form-group"><label for="phone">Phone</label><input class="form-control item" type="tel" id="phone"
            name="phone"></div>
        <div class="form-group"><label for="room">Room</label><input class="form-control item" type="text" id="room"
            name="room"></div>
        <div class="form-group"><label for="startDate">Start Date</label><input class="form-control item" type="date" id="startDate"
            name="startDate"></div>
        <div class="form-group"><label for="endDate">End Date</label><input class="form-control item" type="date" id="endDate"
            name="endDate"></div>
        <div class="form-group"><label for="meet">Google meet link</label><input class="form-control item" type="url" id="meet"
            name="meet"></div>
        <div class="form-group"><label for="link">Material link</label><input class="form-control item" type="url" id="link"
            name="link"></div>
        <div class="form-group"><label for="imgPath">Link Ảnh</label><input class="form-control item" type="text" id="imgPath"
            name="imgPath"></div>
        <div class="form-group"><label for="brief">Giới thiệu</label><input class="form-control item" type="text" id="brief"
            name="brief"></div>
        <div class="form-group"><label for="popular">Độ phổ biến</label><input class="form-control item" type="text" id="popular"
            name="popular"></div>
        <div class="form-group"><label for="requirement">Yêu cầu</label><input class="form-control item" type="text" id="requirement"
            name="requirement1"></div>
        <div class="form-group"><label for="syllabus">Syllabus</label><input class="form-control item" type="text" id="syllabus"
            name="syllabus"></div>
        </br>
        <button class="btn btn-primary btn-block" type="submit">Tạo training</button>
      </form>
    </div>
  </section>
</main>
<%- include("footer"); -%>