<%- include("header"); -%>

    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                </div>

                <form method="POST" action="/users/changePassword/<%= id %>">
                    <% if (typeof error !== 'undefined' && error !== null) { %>
                      <p style="color: red;"><%= error %></p>
                    <% } %>
                    <% if (id == 1) { %>
                      <div class="form-group"><label for="oldPassword">Hãy nhập password cũ của bạn</label><input class="form-control item" type="password" id="oldPassword" name="oldPassword"></div>
                    <% } %>
                    <div class="form-group"><label for="newPassword">Hãy nhập password mới của bạn</label><input class="form-control item" type="password" id="newPassword" name="newPassword"></div>
                    <button class="btn btn-primary btn-block" type="submit">Enter</button></form>
            </div>
        </section>
    </main>
    
<%- include("footer"); -%>