<%- include("header"); -%>
<main class="page blog-post">

<section class="clean-block clean-post dark">
  <% if (!confessions.length) { %>
    <div class="block-heading">
      <h2>Bạn chưa có confession nào</h2>
    </div>
  <% } %>
  <% for (let i of confessions) { %>
    <div class="container mb-5">
      <div class="block-content">
        <div class="post-body">
          <p style="font-size: 20px;"><%= i.text %></p>
            <% if (i.status === "accepted") { %>
            <button type="submit" class="btn btn-success mr-1">Accepted</button>
            <% } else if (i.status === "pending") { %>
            <button type="submit" class="btn btn-warning">Pending</button>
            <% } else if (i.status === "declined") { %> 
            <button type="submit" class="btn btn-danger">Declined</button>
            <% } %>
        </div>
      </div>
    </div>
  <% } %>
</section>
</main>
<%- include("footer"); -%>
