<%- include("header"); -%>

  <main class="page registration-page">
    <section class="clean-block clean-form dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Đăng Ký</h2>
          <p>Bạn đã có tài khoản? <a href="login">Đăng nhập</a></p>
          <% if (registerFail) {%>
            <div class="btn-warning">Email hoặc username đã tồn tại</div>
          <% } %>
        </div>
        <form method="POST" action="/registerComplete">
          <div class="form-group"><label for="username">Username</label><input class="form-control item" type="text"
            id="username" name="username"></div>
          <div class="form-group"><label for="password">Mật Khẩu</label><input class="form-control item" type="password"
              id="password" name="password"></div>
          <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email"
            id="email" name="email"></div>
          <button class="btn btn-primary btn-block" type="submit">Đăng Ký</button>
        </form>
      </div>
    </section>
  </main>

<%- include("footer"); -%>