<%- include("header"); -%>

    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div><img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="assets/img/user-photo2.jpg"></div>
                            <div class="media-body">
                                <ul class="list-unstyled fa-ul">
                                    <li><i class="fa fa-user fa-li" style="font-size: 16px;"></i><a href="#">Cao Tam Kiên</a></li>
                                    <li><i class="fa fa-envelope fa-li"></i><a href="#">kiencthe140322@fpt.edu.vn</a></li>
                                    <li><i class="fa fa-phone fa-li"></i>0854 812 361</li>
                                </ul>
                            </div>
                        </div>
                        <div></div>
                        <hr>
                        <p><i class="fa fa-home fa-fw"></i>A109L<br>
<span class="text-muted"><i class="fa fa-calendar fa-fw"></i>&nbsp;25/11/2000</span></p>
                    </div>
                    <div class="card-footer">
                        <div class="media">
                            <div><img class="rounded-circle mr-3" style="height: 25px; width: 25px;" src="assets/img/avatar.jpg"></div>
                            <div class="media-body"><a href="#">Alberto Gonzalez</a>
                                <p>Comment vào đây à?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include("footer"); -%>